<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <h1>Add Students</h1>
</body>
<form action="/add_stu" method="post">
    {% csrf_token %}
    <label for="first_name"> First Name</label><br>
    <input type="text"  name="first_name" id="first_name" value="{{first_name}}"><br>
    <label for="last_name"> Last Name</label><br>
    <input type="text" name="last_name" id="last_name" value="{{last_name}}"><br>
    <label for="courses"> Courses</label><br>
    <input type="number" name="cour" id="cour" value="{{cour}}"><br>
    <label for="fees"> Fees</label><br>
    <input type="number" name="fees" id="fees" value="{{fees}}"><br>
    <label for="phone"> Phone number</label><br>
    <input type="number" name="phone" id="phone" value="{{phone}}"><br>
    <label for="duration"> Duration</label><br>
    <input type="number" name="dur" id="first_name" value="{{dur}}"><br>
    

    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>



</html>